<div class="oj-hybrid-padding">
    <h1>Module4 Content Area</h1>
    <oj-select-single
        data="[[browsersDP]]"
        value="{{selectValue}}"
        on-value-changed="[[changeListener]]"
        value-item="{{valueItem}}"
        label-hint="enabled"></oj-select-single>
    <div>
        To change the content of this section, you will make edits to the incidents.html file located in the /js/views folder.
    </div>
    <oj-button on-oj-action="[[addfield]]">Add Field</oj-button>
  </div>
  