<div id="tableWrapper">
    <div class="oj-panel oj-bg-info-30">
      <h2 id="table-controls-heading" class="oj-typography-subheading-md">
        Options To Control The Table Below
      </h2>
      <oj-form-layout aria-controls="table" max-columns="3" class="oj-formlayout-full-width">
        <!-- <demo-radioset-enum
          direction="row"
          label-hint="Asynchronous Edit Handling"
          value="{{asyncValidation}}"
          enum-values='["off", "on"]'></demo-radioset-enum>
        <oj-input-number
          id="edit-delay-input"
          min="0"
          disabled="[[isDelayDisabled]]"
          step="200"
          value="{{editDelay}}"
          label-hint="Simulated Enter Edit Mode Delay (ms)"></oj-input-number>
        <oj-input-number
          id="edit-end-delay-input"
          min="0"
          disabled="[[isDelayDisabled]]"
          step="200"
          value="{{editEndDelay}}"
          label-hint="Simulated Submit Edit Delay (ms)"></oj-input-number> -->
      </oj-form-layout>
    </div>
    <oj-table
      id="table"
      aria-label="Departments Table"
      accessibility.row-header="depName"
      class="demo-table-container"
      data="[[dataprovider]]"
      edit-mode="rowEdit"
      edit-row="{{editRow}}"
      on-oj-before-row-edit="[[beforeRowEditListener]]"
      on-oj-before-row-edit-end="[[beforeRowEditEndListener]]"
      columns-default.sortable="disabled"
      layout="fixed"
      columns='[{"field": "DepartmentId",
                 "headerText": "ReadOnly",
                 "headerClassName": "oj-helper-text-align-end",
                 "className": "oj-helper-text-align-end oj-read-only",
                 "template": "deptIdTemplate",
                 "id": "depId"},
                {"field": "DepartmentName",
                 "weight": "3",
                 "minWidth": "10rem",
                 "headerText": "InputText",
                 "template": "deptNameTemplate",
                 "id": "depName"},
                {"field":"LocationId",
                 "weight": "2",
                 "showRequired": true,
                 "headerText": "InputText Number",
                 "headerClassName": "oj-helper-text-align-end",
                 "className": "oj-helper-text-align-end",
                 "template": "locIdTemplate",
                 "id": "locId"},
                {"field":"Type",
                 "headerText": "SelectSingle",
                 "weight": "2",
                 "minWidth": "10rem",
                 "template": "typeTemplate",
                 "id": "type"},
                {"field":"Currency",
                 "headerText": "Combobox",
                 "minWidth": "8rem",
                 "weight": "2",
                 "template": "currencyTemplate",
                 "id": "currency"},
                {"field":"StartDate",
                 "weight": "2",
                 "minWidth": "10rem",
                 "headerText": "InputDate",
                 "template": "dateTemplate",
                 "id": "start"},
                {"field":"Primary",
                 "headerText": "Checkboxset",
                 "headerStyle": "text-align: center;",
                 "minWidth": "8rem",
                 "style": "padding-top: 0px; padding-bottom: 0px; text-align: center;",
                 "template": "primaryTemplate",
                 "id": "primary"},
                {"headerText": "Action",
                 "width": "6.2rem",
                 "headerStyle": "text-align: center;",
                 "style":"padding-top: 0px; padding-bottom: 0px; text-align: center;",
                 "template": "actionTemplate",
                 "id": "action"}]'>
      <template slot="deptIdTemplate" data-oj-as="cell">
        <oj-bind-text value="[[numberConverter.format(cell.data)]]"></oj-bind-text>
      </template>
  
      <template slot="deptNameTemplate" data-oj-as="cell">
          <oj-bind-text value="[[cell.data]]"></oj-bind-text>
      </template>
  
      <template slot="locIdTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-bind-text value="[[numberConverter.format(cell.data)]]"></oj-bind-text>
        </oj-bind-if>
  
        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <oj-input-text
            id="it2"
            required="true"
            value="{{rowData.LocationId}}"
            validators="[[validators]]"
            converter="[[numberConverter]]"
            class="editable"></oj-input-text>
        </oj-bind-if>
      </template>
  
      <template slot="typeTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-bind-text value="[[cell.data]]"></oj-bind-text>
        </oj-bind-if>
  
        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <oj-select-single
            id="ss1"
            aria-label="type 1"
            value="{{rowData.Type}}"
            data="[[departments]]"
            class="editable"></oj-select-single>
        </oj-bind-if>
      </template>
  
      <template slot="currencyTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-bind-text value="[[cell.data]]"></oj-bind-text>
        </oj-bind-if>
  
        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <oj-combobox-one
            id="co1"
            aria-label="currency"
            value="{{rowData.Currency}}"
            class="editable">
            <oj-option value="USD">USD</oj-option>
            <oj-option value="JPY">JPY</oj-option>
            <oj-option value="EUR">EUR</oj-option>
          </oj-combobox-one>
        </oj-bind-if>
      </template>
  
      <template slot="dateTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-bind-text value="[[dateConverter.format(cell.data)]]"></oj-bind-text>
        </oj-bind-if>
  
        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <oj-input-date id="id1" value="{{rowData.StartDate}}" class="editable"></oj-input-date>
        </oj-bind-if>
      </template>
  
      <template slot="primaryTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-bind-text value="{{cell.data == 'checked' ? 'Checked' : 'Unchecked'}}"></oj-bind-text>
        </oj-bind-if>
  
        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <div oj-sm-justify-content-center>
            <oj-checkboxset
              id="cs2"
              value="{{rowData.Primary}}"
              class="oj-choice-direction-row demo-table-checkbox editable">
              <oj-option value="checked"></oj-option>
            </oj-checkboxset>
          </div>
        </oj-bind-if>
      </template>
  
      <template slot="actionTemplate" data-oj-as="cell">
        <oj-bind-if test='[[cell.mode=="navigation"]]'>
          <oj-button
            data-oj-clickthrough="disabled"
            display="icons"
            chroming="borderless"
            on-oj-action="[[handleUpdate]]">
            <span slot="startIcon" class="oj-ux-ico-edit"></span>
            Edit
          </oj-button>
        </oj-bind-if>
  
        <oj-bind-if test='[[cell.mode=="edit"]]'>
          <oj-toolbar
            data-oj-clickthrough="disabled"
            chroming="borderless"
            class="oj-sm-padding-0-vertical">
            <oj-button display="icons" on-oj-action="[[handleDone]]" data-oj-clickthrough="disabled">
              <span slot="startIcon" class="oj-ux-ico-check"></span>
              Save
            </oj-button>
            <oj-button
              display="icons"
              on-oj-action="[[handleCancel]]"
              data-oj-clickthrough="disabled">
              <span slot="startIcon" class="oj-ux-ico-multiply"></span>
              Cancel
            </oj-button>
          </oj-toolbar>
        </oj-bind-if>
      </template>
    </oj-table>
    <br />
    <br />
    <oj-label for="editedContent">Edited Data:</oj-label>
    <oj-text-area id="editedContent" rows="3" value="[[editedData]]"></oj-text-area>
  </div>